<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button class="nav-icon" aria-label="Navigation" (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="nav-spacer"></span>
    <r3app-profile-menu></r3app-profile-menu>
  </mat-toolbar-row>
</mat-toolbar>

<!-- Side Navigation -->
<mat-drawer-container autosize>

  <mat-drawer #drawer mode="side" class="side-nav">
    <p>Side Navigation</p>
  </mat-drawer>

  <div class="side-container">
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>

