.nav{
  &-icon{
    margin: 25px;
  }

  &-spacer{
    flex: 1 1 auto;
  }
}

.side{

  &-nav{
    width: 250px;
    border: 1px solid green;
  }

  &-container{
    padding: 15px;
    height: 100vh;
  }
}

