<div>
  <mat-card style="margin-top: 3px;">
    <mat-card-content>
      <ul>
        <li *ngFor="let file of files">
          <mat-progress-bar [value]="file.progress"></mat-progress-bar>
          <span id="file-label">{{file | json}}</span>
        </li>
      </ul>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button color="primary" (click)="onClick()">
        <mat-icon>file_upload</mat-icon>
        Upload Images
      </button>
    </mat-card-actions>
    </mat-card>
    <input type="file" #fileUpload id="fileUpload" name="fileUpload" multiple="multiple" accept="image/*" style="display: none;"/>
</div>
