<div id="AddEstateContainer">
  <div class="main" fxLayout="row" fxLayoutGap="10px">

    <div class="main-form">
      <form fxLayout="column">
        <div>
          <h3>Real Estate Address</h3>
        </div>
        <div fxLayout="row" fxLayoutGap="10px" >
          <mat-form-field class="main-form-item">
            <mat-label>Street Name</mat-label>
            <input matInput />
          </mat-form-field>
          <mat-form-field class="main-form-item">
            <mat-label>Apt/Suite</mat-label>
            <input matInput />
          </mat-form-field>
          <mat-form-field class="main-form-item">
            <mat-label>Property Type</mat-label>
            <input matInput />
          </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutGap="10px">
          <mat-form-field class="main-form-item">
            <mat-label>City</mat-label>
            <input matInput />
          </mat-form-field>
          <mat-form-field class="main-form-item">
            <mat-label>State</mat-label>
            <input matInput />
          </mat-form-field>
          <mat-form-field class="main-form-item">
            <mat-label>Country</mat-label>
            <input matInput />
          </mat-form-field>
        </div>
        <div>
          <h3>Property Amenities</h3>
        </div>
        <div fxLayout="row" fxLayoutGap="10px">
          <mat-form-field class="main-form-item">
            <mat-label>Beds</mat-label>
            <input matInput />
          </mat-form-field>
          <mat-form-field class="main-form-item">
            <mat-label>Baths</mat-label>
            <input matInput />
          </mat-form-field>
          <mat-form-field class="main-form-item">
            <mat-label>Garage</mat-label>
            <input matInput />
          </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutGap="10px">
          <mat-form-field class="main-form-item">
            <mat-label>Lot Area</mat-label>
            <input matInput />
          </mat-form-field>
          <mat-form-field class="main-form-item">
            <mat-label>Floor Area</mat-label>
            <input matInput />
          </mat-form-field>
          <mat-checkbox class="main-form-item main-form-item--checkbox">Featured</mat-checkbox>
        </div>
        <div>
          <h3>Price and Status</h3>
        </div>        <div fxLayout="row" fxLayoutGap="10px">
          <mat-form-field class="main-form-item">
            <mat-label>Price</mat-label>
            <input matInput />
          </mat-form-field>
          <mat-form-field class="main-form-item">
            <mat-label>Property Status</mat-label>
            <input matInput />
          </mat-form-field>
        </div>
      </form>
    </div>
    <div class="main-upload">
      Upload Container
    </div>
  </div>

</div>
